* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: #FBF0F1;
    color: #172F55;
    font-family: 'Source Sans Pro', Sans-Serif;
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Wrapper styles */

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #172F55;
}

h1 {
    font-size: 6.5rem;
}

h2 {
    font-size: 3.0rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    font-size: 1.8rem;
    color: #172F55;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

li {
    list-style: none;
}

p {
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', Sans-Serif;
}

button {
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', Sans-Serif;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0);
    overflow: hidden;
}