nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-container {
    padding: 10px 10%;
    background-color: #172F55;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-container.scrolled {
    background-color: #172F55 !important;
    transition: background-color 200ms linear;
}

.nav-styles {
    display: flex;
    justify-content: center;
    text-transform: lowercase;

    li {
        margin-right: 80px;
    }

    li:last-child {
        margin-right: 0;
    }

    a {
        // color: #172F55;
        color: #FBF0F1;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 5%;
            width: 90%;
            height: 50%;
            z-index: -1;
          }
        
          &:hover::after {
            background: rgba(236, 203, 201, 0.5);
            transition: all 0.3s ease-in;
        }
    }
}

.nav-toggle {
    span {
        display: none;
    }

    #toggle {
        display: none;
    }
}

.nav-logo {
    font-size: 3.0rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: lowercase;
    color: #FBF0F1;
}